body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.threads-container {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: -30px;
    z-index: -5;
}

/* Welcome */

.Welcome {
    height: 45em;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.circleborder {
    position: relative;
    right: -50px;
    min-width: 400px;
    max-width: 700px;
    max-height: 650px;
    transform: translateX(-50px);
    opacity: 0;
    animation: profpic 1s forwards;
}

@keyframes profpic {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }

    100% {
        opacity: 1;
        transform: translateX(-50px);
    }
}

.short-intro {
    min-width: 400px;
    max-width: 472.898px;
    position: relative;
    top: 12em;
    left: 12em;
    transform: translateX(50px);
    opacity: 0;
    animation: bioreveal 1s forwards;
    text-align: right;
}

.hi {
    font-family: 'FOT-NewRodin Pro DB';
    font-size: 46px;
}

.hoverme {
    background-color: red;
    padding: 0.5em;
    font-family: 'Lucida Console';
    font-size: 12px;
    border-radius: 20px;
    position: absolute;
    right: 450px;
    top: 60px;
    text-align: center;
    animation: hovermeAnim 1s forwards;
}

@keyframes hovermeAnim {
    0% {
        opacity: 0;
        transform: rotate(70deg);
        transform-origin: bottom left;
    }

    60% {
        opacity: 0;
        transform: rotate(70deg);
        transform-origin: bottom left;
    }

    100% {
        opacity: 1;
        transform: rotate(-20deg);
        transform-origin: bottom left;
    }
}


.title {
    font-family: 'BM Space A9';
    font-size: 76px;
    display: flex;
    min-height: 160px;
    text-align: right;
    align-items: center;
}

.glitchGithub {
    position: relative;
    text-decoration: none;
    color: white;
    animation: glitch 350ms infinite;
}

.glitchGithub::after {
    content: "@falood4";
    color: rgb(204, 231, 251);
    position: absolute;
    top: 0%;
    left: 0px;
    transform: translate(0.05em, 0.05em);
    animation: glitch 450ms infinite;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
            0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    49% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
            0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    99% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
            -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
            -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
}

.who_am_i {
    font-family: 'Gaeul';
    font-size: 26px;
}

@keyframes bioreveal {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }

    100% {
        opacity: 1;
        transform: translateX(50px);
    }
}

.bio {
    display: block;
    text-align: justify;
    width: 70%;
    margin: 0 auto;
    font-family: 'FOT-NewRodin Pro DB';
}

/* Skill */
.Skills {
    width: 100%;
    height: 100em;
    display: block;
    margin: 5em 5em 0 0;
}

.HardSkills {
    position: relative;
    border-radius: 50%;
    width: 20em;
    height: 20em;
    left: 8em;
    float: left;
    margin: 10em;
    animation: rotateSkills 30s linear infinite;
}

.SoftSkills {
    position: relative;
    width: 20em;
    height: 20em;
    bottom: -15em;
    right: -45em;
    margin: 10em;
    animation: rotateSkills 30s linear infinite;
}

li {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    transform-origin: bottom left;
    border: white 2px solid;
    border-collapse: collapse;
}

.sector {
    position: absolute;
    left: 15%;
    top: 25%;
    width: 50%;
    height: 50%;
    padding-top: 20px;
    transform: skewY(30deg) rotate(15deg);
}

.HardSkills img,
.SoftSkills img {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0px;
    left: 12.5%;
    transform: rotate(15deg);
    border-radius: 1em;
}

.HardSkills li:first-child,
.SoftSkills li:first-child {
    transform: rotate(0deg) skewY(-30deg);
}

.HardSkills li:nth-child(2),
.SoftSkills li:nth-child(2) {
    transform: rotate(60deg) skewY(-30deg);
}

.HardSkills li:nth-child(3),
.SoftSkills li:nth-child(3) {
    transform: rotate(120deg) skewY(-30deg);
}

.HardSkills li:nth-child(4),
.SoftSkills li:nth-child(4) {
    transform: rotate(180deg) skewY(-30deg);
}

.HardSkills li:nth-child(5),
.SoftSkills li:nth-child(5) {
    transform: rotate(240deg) skewY(-30deg);
}

.HardSkills li:nth-child(6),
.SoftSkills li:nth-child(6) {
    transform: rotate(300deg) skewY(-30deg);
}

.HardSkills li:first-child,
.SoftSkills li:first-child {
    background: green;
}

.HardSkills li:nth-child(2),
.SoftSkills li:nth-child(2) {
    background: tomato;
}

.HardSkills li:nth-child(3),
.SoftSkills li:nth-child(3) {
    background: aqua;
}

.HardSkills li:nth-child(4),
.SoftSkills li:nth-child(4) {
    background: yellow;
}

.HardSkills li:nth-child(5),
.SoftSkills li:nth-child(5) {
    background: orange;
}

.HardSkills li:nth-child(6),
.SoftSkills li:nth-child(6) {
    background: purple;
}

.sector img:hover {
    transform: scale(120%) rotate(15deg);
    transition: transform 100ms;
}

.HardSkills:hover,
.SoftSkills:hover {
    animation-play-state: paused;
}

@keyframes rotateSkills {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.SkillBubbles {
    position: relative;
    top: 5em;
    right: -10em;
    max-width: 600px;
    min-height: 200px;
    margin: 10em 0em 10em 0em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 1em;
}

.SkillBubbles span {
    position: relative;
    padding: 1em;
    min-width: 26px;
    border-radius: 1.5em;
    font-size: 22px;
    font-family: 'Gaeul';
    font-weight: 500;
    color: #ffffff;
    background: linear-gradient(90deg, rgb(56, 154, 163) 23%, rgba(18, 105, 204, 1) 100%);
    background-size: 150% 150%;
    animation: gradient 5s infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.SoftBubbles {
    position: relative;
    top: -20em;
}


/* Projects */
.Projects {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
}

.img-carousel {
    width: 1050px;
    height: 407px;
    position: relative;
}

.img-carousel img {
    width: 200px;
    height: 280px;
    border-radius: 10%;
    border: #ffffff solid 2px;
}

.foreground {
    transform: scale(120%);
    position: absolute;
    border-radius: 10%;
    top: 152px;
    left: 425px;
    z-index: 2;
}

.midground1 {
    filter: blur(3px);
    position: absolute;
    border-radius: 10%;
    top: 76px;
    left: 66px;
    z-index: 1;
    transition: filter 0.5s;
}

.midground2 {
    filter: blur(3px);
    position: absolute;
    border-radius: 10%;
    top: 76px;
    left: 784px;
    z-index: 1;
    transition: filter 0.5s;
}

.background1 {
    position: absolute;
    border-radius: 10%;
    top: 0px;
    left: 228px;
    z-index: 0;
    transform: scale(80%);
    filter: blur(8px);
    transition: filter 0.5s;
}

.background2 {
    position: absolute;
    border-radius: 10%;
    top: 0px;
    left: 626px;
    z-index: 0;
    transform: scale(80%);
    filter: blur(8px);
    transition: filter 0.5s;
}

.gitLink {
    position: relative;
    top: 240px;
    left: 0%;
    width: 200px;
    height: 25px;
    text-align: center;
}

.gitLink a {
    display: block;
    width: 100%;
    height: 100%;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10%;
}

.foreground .flip-card-back {
    transform: rotateY(0deg);
    transition: transform 1s;
}

.foreground .flip-card-front {
    transform: rotateY(180deg);
    transition: transform 1s;
}

.flip-card-back {
    transform: rotateY(180deg);
    transition: transform 1s;
}

.flip-card-front {
    transform: rotateY(0deg);
    transition: transform 1s;
}

.midground2 .flip-card-back {
    transform: rotateY(180deg);
    transition: transform 1s;
}

.midground2 .flip-card-front {
    transform: rotateY(0deg);
    transition: transform 1s;
}

/* Socials */
.socialsHex {
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    transform: translateY(80px) scale(125%);
}

.hexagon {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100px;
    height: 100px;
    /* Approximate height for a hexagon */
    margin: 1px;
    padding: 1px;
    background-color: black;
    clip-path: polygon(50% 5%, 100% 25%, 100% 75%, 50% 95%, 0% 75%, 0% 25%);
    transform-style: preserve-3d;
}

.hexagon-inner {
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 90px;
    height: 90px;
    /* Approximate height for a hexagon */
    background-color: white;
    clip-path: polygon(50% 10%, 100% 30%, 100% 80%, 50% 100%, 0% 80%, 0% 30%);
    object-fit: cover;
    object-position: center;
}

.hexagon:hover {
    z-index: 1;
    transition: transform 0.5s;
    transform: scale(120%) rotateY(360deg);
}

#github {
    background: #ffffff
}


#hackerrank {
    background-color: #20d761;
}

#linkedin {
    background-color: #0077B5;
}
